In the following project I intend to do a time series analysis of volatility in Twitter stock. Specifically, I will see if the implied volatility of at the money option can be predicted first by looking at the implied volatilities over time (time-series analysis), and then by also including other features into the analysis. From a business perspective these predictions, if deemed successful, could be used to implement option trading strategies, to produce profits, based upon those predictions.

The purpose of the following notebook will be to clean and prepare data for an analysis of volatility in Twitter stock. The data on Twitter stock and options is available for free on quandl.com and is available to anyone who downloads an API key. The data on the stock itself is provided separately from the option data and includes items such as high, low, close, and adjusted (taking into account splits) stock price. The option data provides insight into both historical volatility of the stock as well as the implied volatility of options of different maturity lengths. In order to use this data it will have to be cleaned by eliminating entries with NaN's and organized into appropriate categories. Additionally, the stock and option data needs to be combined into a useful data frame.

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

In [14]:
url = 'https://www.quandl.com/api/v3/datasets/BATS/BATS_TWTR.csv'

In [16]:
TWTR = pd.read_csv(url)
TWTR.head()

         Date  Short Volume  Total Volume
0  2021-03-10      583672.0     1277732.0
1  2021-03-09      612411.0     1103101.0
2  2021-03-08      630970.0     1242707.0
3  2021-03-05      595516.0     1165319.0
4  2021-03-04      517902.0     1062238.0